@page
@model MasajesJuan.Pages.SalonModel
@{
}
<section id="tiposMasajes">
    <div>
        <div id="servicios">
            <h2>Servicios que ofrecemos</h2>
            <p> Masaje es un término general para la presión, el frotamiento y la manipulación de la piel, los músculos, los tendones y los ligamentos. El masaje puede variar desde una caricia suave hasta una presión intensa. Existen muchos tipos diferentes de masajes; los tres más comunes incluyen los siguientes:</p>
        </div>
    </div>
    <div class="servall">
        <div>
            <article id="art1" class="par">
                <h4 class="tipomasaje">Masaje de acupresión china</h4>
                <div class="contenedor">
                    <div class="text">
                        <div>
                            <p>El masaje de Acupresión China, también denominado descontracturante, es una técnica tradicional asiática. En Liang Xin realizamos este masaje con las manos y los pies ejerciendo presión en diferentes puntos específicos del cuerpo. Es una experiencia intensa que ayuda a desbloquear y canalizar la energía para aumentar el bienestar físico y emocional.</p>
                            <p>Es una técnica ideal para las personas que padecen dolores musculares causados por contracturas puesto que reduce y calma el dolor. Relaja los músculos y las articulaciones y ayuda a liberar la tensión. Este masaje es una alternativa natural que ayuda a mejorar el estado general y a aliviar el malestar corporal.</p>
                            <p class="negrita">⮞⮞Para saber más pasa el puntero sobre la imagen⮜⮜</p>
                        </div>
                    </div>
                    <div class="centrarImag">
                        <div id="imag1" class="imag">
                            <figure><img src="images/salon1.png"></figure>
                            <figcaption>
                                <h3>Desde 40€</h3>
                                <h4>Beneficios de la reflexología podal:</h4>
                                <ul>
                                    <li>Elimina las toxinas del cuerpo</li>
                                    <li>Reduce el estrés</li>
                                    <li>Calma dolores de cabeza, cuello y espalda</li>
                                    <li>Relaja física y mentalmente</li>
                                </ul>
                                <p>Duración 30 min</p>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </article>
            <article id="art2" class="impar">
                <h4 class="tipomasaje">Masaje chino y acupresión con aceite</h4>
                <div class="contenedor">
                    <div class="centrarImag">
                        <div id="imag2" class="imag">
                            <figure><img src="images/salon2.png"></figure>
                            <figcaption>
                                <h3>Desde 50€</h3>
                                <h4>Beneficios del masaje relajante:</h4>
                                <ul>
                                    <li>Elimina el estrés y la ansiedad</li>
                                    <li>Proporciona relajación</li>
                                    <li>Mejora el aspecto de la piel</li>
                                </ul>
                                <p>Duración 30 min</p>
                            </figcaption>
                        </div>
                    </div>
                    <div class="text">
                        <div>
                            <p>El masaje de acupresión con aceite, también conocido como masaje relajante, es una técnica tradicional asiática. En Liang Xin realizamos este masaje con las manos ejerciendo presión en determinados puntos del cuerpo. Es una práctica excelente para las personas que padecen dolores causados por contracturas. Relaja los músculos y ayuda a liberar la tensión acumulada.</p>
                            <p>Esta sesión sigue el mismo principio que el de la acupresión, aunque en este caso con la aplicación de aceites naturales lo convierte en un masaje mucho más relajante. Es una experiencia que canaliza y desbloquea la energía proporcionando un estado de equilibrio y armonía. Con la aplicación de los aceites naturales se ofrece una sensación única que deja la piel hidratada y un estado de relajación total.</p>
                            <p class="negrita">⮞⮞Para saber más pasa el puntero sobre la imagen⮜⮜</p>
                        </div>
                    </div>
                </div>
            </article>
            <article id="art3" class="par">
                <h4 class="tipomasaje">Masaje Balinés</h4>
                <div class="contenedor">
                    <div class="text">
                        <div>
                            <p>Para llevar a cabo esta técnica tradicional, usamos aceites naturales que aplicamos ejerciendo una suave presión con pasadas largas, lentas y envolventes, abriendo y estimulando así numerosos puntos de energía. Esto proporciona un estado profundo de relajación física y mental. El masaje balinés es conocido por su gran poder sanador, además los aceites esenciales que se utilizan mejoran el aspecto de la piel. Brinda un estado de armonía plena, ayuda a eliminar las tensiones y el estrés, mejora la circulación sanguínea y ofrece un estado de bienestar con un gran efecto relajante. Es nuestro antiestrés por excelencia, perfecto para alcanzar la belleza interior y exterior.</p>
                            <p class="negrita">⮞⮞Para saber más pasa el puntero sobre la imagen⮜⮜</p>
                        </div>
                    </div>
                    <div class="centrarImag">
                        <div id="imag3" class="imag">
                            <figure><img src="images/salon3.png"></figure>
                            <figcaption>
                                <h3>Desde 70€</h3>
                                <h4>Beneficios del masaje balinés:</h4>
                                <ul>
                                    <li>Ofrece estados de calma y relajación</li>
                                    <li>Sensación de bienestar</li>
                                    <li>Mejora el animo</li>
                                    <li>Hidrata la piel</li>
                                </ul>
                                <p>Duración 60 min</p>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </article>
            <article id="art4" class="impar">
                <h4 class="tipomasaje">Masaje Tailandés</h4>
                <div class="contenedor">
                    <div class="centrarImag">
                        <div id="imag4" class="imag">
                            <figure><img src="images/salon4.png"></figure>
                            <figcaption>
                                <h3>Desde 80€</h3>
                                <h4>Beneficios del masaje tailandés:</h4>
                                <ul>
                                    <li>Relaja física y mentalmente</li>
                                    <li>Elimina el estrés</li>
                                    <li>Aumenta la flexibilidad y la movilidad</li>
                                    <li>Mejora la postura corporal</li>
                                </ul>
                                <p>Duración 60 min</p>
                            </figcaption>
                        </div>
                    </div>
                    <div class="text">
                        <div>
                            <p>El masaje tailandés canaliza las energías consiguiendo un estado único de armonía entre masajista y receptor. Es una técnica asiática que se realiza en seco, por tanto, no utilizamos ni aceites ni cremas. Consiste en una combinación de digitopresión, reflexología y la realización de estiramientos y asanas propias del Yoga. Esta técnica mejora el estado físico y mental, libera la tensión del cuerpo y el estrés acumulados. Previene lesiones, ofrece elasticidad en los músculos, tendones y ligamentos y mejora de la postura corporal.</p>
                            <p class="negrita">⮞⮞Para saber más pasa el puntero sobre la imagen⮜⮜</p>
                        </div>
                    </div>
                </div>
            </article>
            <article id="art5" class="par">
                <h4 class="tipomasaje">Tratamiento Facial Natural</h4>
                <div class="contenedor">
                    <div class="text">
                        <div>
                            <p>Para llevar a cabo este tratamiento, comenzamos la sesión con una limpieza profunda del rostro utilizando ingredientes naturales como la miel y la naranja, reconocidos por sus propiedades beneficiosas para la piel.</p>
                            <p>
                                A continuación, realizamos un masaje relajante con movimientos suaves y envolventes en cara, escote, cráneo y zona alta de la espalda que hará que los productos aplicados se absorban mejor en la piel para alcanzar una sensación de relajación profunda. Finalizamos este tratamiento con la aplicación de una mascarilla de pepino que proporcionará la reparación e hidratación que necesita el rostro.
                                El resultado de este tratamiento es una piel mucho más suave, hidratada y llena de luminosidad.
                            </p>
                            <p class="negrita">⮞⮞Para saber más pasa el puntero sobre la imagen⮜⮜</p>
                        </div>
                    </div>
                    <div class="centrarImag">
                        <div id="imag5" class="imag">
                            <figure><img src="images/salon5.png"></figure>
                            <figcaption>
                                <h3>Desde 100€</h3>
                                <h4>Beneficios del tratamiento facial natural:</h4>
                                <ul>
                                    <li>Elimina las impurezas y exceso de sebo</li>
                                    <li>Proporciona hidratación</li>
                                    <li>Ofrece luminosidad</li>
                                    <li>Relaja física y mentalmente</li>
                                </ul>
                                <p>Duración 30 min</p>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<footer>
    <div class="footer">
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <ul>
                    <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                    <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <p>Juan Puerta Gil de Gómez &copy; 2022. All rights reserved</p>
    </div>
</footer>
